#header > .container,
.hero {
    height: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--name {
    font-size: clamp(2.5rem, 5vw, 5rem);
}

.location {
    margin-top: auto;
    display: flex;
    gap: 0.5em;
    align-items: center;
}